@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");


ul {
  position: relative;
}
.folder {
  position: absolute;
  top: 7%;
  left: 3px;
  width: 21px;
  height: 15px;
}
li {
  display: flex;
  font-family: "Inter";
  font-weight: 700;
  size:42px;
}
.namefolder {
  display: flex;
  position: absolute;
  top: 6%;
  left: 36px;
  width: 867px;
  height: 52px;
}
.line{
  position: absolute;
  top: 19%;
  left:110px;
  height: 0;
  width: 180px;
  border-bottom: 1px solid rgba(188, 188, 195, 0.44);
}
.jackdaw{
  position: absolute;
  top: 5px;
  left: 300px;
  width: 24px;
  height: 12px;
}

.list{
  margin-top: 0.875rem;
  display: flex;
  align-items: center;
} 
.icon{
  visibility: hidden;
}

.list:hover .icon {
  visibility: visible;
}